:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */
    --main-txy-cl:#212121;
    --sec-txt-cl:#757575;
    --accet-txt-cl: #2196F3;

    /* bg color */

    --darc-bg-cl: #2f303a;
    --light-bg-cl: #F5F4FA;

    /* others */
}
    /* body section */
.body {
    font-family: var(--main-font);
    color: var(--main-txy-cl);
    }
    
/* reset styles */
.link {
    text-decoration: none;
    color: currentColor;
    font-style: normal;
}
.list {
    list-style: none;
}
/**
|============================
| Header section
|============================
*/
/* logo */
.logo {
    color: var(--main-txy-cl);
    font-family: var(--main-font) font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}
.web {
    color: var(--accet-txt-cl);
    text-decoration: none;
}
.header-lis,
.header-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

}
.header-nav:hover 
.header-nav:focus {
    color: var(--accet-txt-cl);
}

.header-item-current,
.header-item-current-section {
    color: var(--accet-txt-cl);
}
.header-mail-current {
    color: var(--accet-txt-cl);
}
/**
|============================
| Hero section
|============================
*/
.main {
    background-color: var(--darc-bg-cl);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}
.adout-info,
.adout-tim-info,
.tim-info {
    text-align: center;
}
.work-cards{
list-style: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
/**
|============================
| Footer section
|============================
*/
.footer {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2F303A;
}
/* logo footer*/
.logo {
    color: var(--main-txy-cl);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 /26);
    text-decoration: none;
}
.web {
    color: var(--accet-txt-cl);
    text-decoration: none;
}
.studio {
    color: white;
    text-decoration: none;
}

/**
|============================
| Header section
|============================
*/
